<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<style>
	.header_a{
		background:#15344d;
	}
	.menu{
		list-style: none;
	}
	.menu li{
		display: inline-block;
	}
	.menu li a{
		display: block;
		padding: 10px 20px;
		background: #DDDCDC;
		text-decoration: none;
		color:#000000;
	}
	.menu li a:hover{
		background: #1b486d;
		color:#fff;
	}
</style>
</head>

<body>
<div class="container">
	
	<div class="row">
		<div class="col-12 col-xl-12">
			<ul class="menu">
                <li><a href=/login><span class="icon-aircraft"></span> LOGIN</a></li>
				<li><a href=/vuelos><span class="icon-aircraft"></span> VUELOS</a></li>
				<li><a href=/vuelos/procesar><span class="icon-aircraft"></span> AÑADIR VUELO</a></li>
				<li><a href=/hoteles><span class="icon-aircraft"></span> HOTEL</a></li>
				<li><a href=/mi_cuenta><span class="icon-aircraft"></span> PERFIL</a></li>
			</ul>
		</div>

	</div>
</body>
</html>